<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.szymanski.myownlibrary">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-feature android:name="android.hardware.camera"
        android:required="true"/>
    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="userPortrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight"
        tools:ignore="LockedOrientationActivity">

        <activity android:name=".activities.HelpActivity"
            android:parentActivityName=".activities.MainActivity"
            android:label="@string/help_menu_item"
            android:screenOrientation="portrait"
            android:theme="@style/MainActivityTheme"/>

        <activity
            android:name=".activities.SaveBookManuallyActivity"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainActivityTheme" />

        <activity
            android:name=".activities.KeywordSearchResultActivity"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainActivityTheme" />

        <activity
            android:name=".activities.BookDetailsActivity"
            android:label="Book Details"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainActivityTheme" >
        </activity>
        <activity
            android:name=".activities.RegisterActivity"
            android:label="@string/register_activity_label"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN"
                    android:noHistory="true" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>